<%= form_for(@duel, html: {class:'form-horizontal', role:"form"}) do |f| %>
<% if @duel.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@duel.errors.count, "error") %> prohibited this duel from being saved:</h2>

  <ul>
    <% @duel.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field form-group">
  <%= f.label :deadline, {class: 'col-sm-5 control-label'} %>
  <div class='col-sm-3'>
    <div class='input-group date' id='dead-line-picker' data-date-format= "DD/MM/YYYY HH:mm">
     <%= f.text_field(:deadline, {class: "form-control"}) %>
     <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
   </span>
 </div>
</div>
</div>
<div class="field form-group">
  <%= f.label :description, {class: 'col-sm-5 control-label'} %>
  <div class='col-sm-3'>
    <%= f.text_area :description, {class: "form-control"} %>
  </div>
</div>
<div class="field form-group">
  <%= f.label :artist_a, {class: 'col-sm-5 control-label'} %>
  <%= f.hidden_field :artist_a_id %>
  <div class='col-sm-3'>
    <%= f.autocomplete_field :artist_a_name, autocomplete_artist_name_duels_path, id_element: '#duel_artist_a_id', 'data-auto-focus' => true, class: 'form-control' %>
  </div>
</div>
<div class="field form-group">
  <%= f.label :artist_b, {class: 'col-sm-5 control-label'} %>
  <%= f.hidden_field :artist_b_id %>
  <div class='col-sm-3'>
    <%= f.autocomplete_field :artist_b_name, autocomplete_artist_name_duels_path, id_element: '#duel_artist_b_id', class: 'form-control' %>
  </div>
</div>

<div class="col-sm-offset-5 col-sm-2">
  <div class="actions form-group" style='margin-left: 0'>
    <%= button_submit_tag %>
  </div>
</div>
<% end %>
