<%= form_for(@duel) do |f| %>
  <% if @duel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@duel.errors.count, "error") %> prohibited this duel from being saved:</h2>

      <ul>
      <% @duel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.text_field(:deadline, {class: "form-control", 'data-date-format' => "DD/MM/YYYY hh:mm"}) %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :artist_a %><br>
    <%= f.hidden_field :artist_a_id %>
    <%= f.autocomplete_field :artist_a_name, autocomplete_artist_name_duels_path, id_element: '#duel_artist_a_id' %>

  </div>
  <div class="field">
    <%= f.label :artist_b %><br>
    <%= f.hidden_field :artist_b_id %>
    <%= f.autocomplete_field :artist_b_name, autocomplete_artist_name_duels_path, id_element: '#duel_artist_b_id' %>
  </div>
  <div class="actions">
    <%=  button_submit_tag %>
  </div>
<% end %>
