<h1 class='text-center'>Listing duels</h1>

<table class='table table-hover center' style='width: 80%'>
  <thead>
    <tr>
      <th>Deadline</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody class='table-striped'>
    <% @duels.each do |duel| %>
      <tr>
        <td><%= duel.deadline %></td>
        <td><%= duel.description %></td>
        <td><%= button_group do %>
          <%= pill_button_link_to 'Show', duel %>
          <%= edit_pill_button_link_to 'Edit', edit_duel_path(duel) %>
          <%= remove_negative_pill_button_link_to 'Delete', duel, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class='row'>
  <div class='col-lg-offset-1 col-lg-5'>
    <%= add_button_link_to 'New Duel', new_duel_path %>
    <%= button_link_to 'Manage Artists', artists_path %>
  </div>
</div>

