<h1>Listing duels</h1>

<table>
  <thead>
    <tr>
      <th>Deadline</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @duels.each do |duel| %>
      <tr>
        <td><%= duel.deadline %></td>
        <td><%= duel.description %></td>
        <td><%= button_group do %>
          <%= pill_button_link_to 'Show', duel %>
          <%= edit_pill_button_link_to 'Edit', edit_duel_path(duel) %>
          <%= remove_negative_pill_button_link_to 'Delete', duel, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= add_button_link_to 'New Duel', new_duel_path %>
<%= button_link_to 'Manage Artists', artists_path %>

