%section.duel_container
  .options-container
    .duel_options.row
      .duel-option.col-md-6
        = render 'artists/artist', artist: @duel.artist_a
      .duel-option.col-md-6
        = render 'artists/artist', artist: @duel.artist_b
      .deadline-container
        .deadline
          %h3 #{@duel.deadline}
      .vs-container
        .vs='VS'
      .voting-container
        .voting-section.row
          = render 'votes/vote', artist: @duel.artist_a
          = render 'votes/vote', artist: @duel.artist_b

  .duel-header
    %h2 #{@duel.description}