#duel_container
  #header
    %h2 #{@duel.description}
  #duel_options
    %div.left.duel-option
      = render 'artists/artist', artist: @duel.artist_a, voters: @duel.artist_a_voters
      - unless (Vote.for_duel(@duel, @current_user).any?)
        .vote
          = button_to "Vote", {controller: 'votes', action: 'create', duel_id: @duel.id, artist_id: @duel.artist_a.id, user_id: session[:user_id]}, :class => "button", :method => :post
    .duel-bar
      %span.orange{style:"width:30%"} 30%
      %span.blue{style:"width:70%"} 70%
    .right.duel-option
      = render 'artists/artist', artist: @duel.artist_b,  voters: @duel.artist_b_voters
      - unless (Vote.for_duel(@duel, @current_user).any?)
        .vote
          = button_to "Vote", {controller: 'votes', action: 'create', duel_id: @duel.id, artist_id: @duel.artist_b.id, user_id: session[:user_id]}, :class => "button", :method => :post

