<h1>Listing artists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Default Song Url</th>
      <th>Profile Photo Url</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= link_to artist.default_song_url, artist.default_song_url %></td>
        <td><%= link_to artist.profile_photo_url, artist.profile_photo_url %></td>
        <td> <%= button_group do %>
          <%= edit_pill_button_link_to 'Edit', edit_artist_path(artist) %>
          <%= remove_pill_negative_button_link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= add_button_link_to 'New Artist', new_artist_path %>
