#main-header.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    - if current_user
      .navbar-collapse.collapse{style: "height: 1px;"}
        %ul.nav.navbar-nav.navbar-left
          %li.logo
            = image_tag 'logo.png', :size => "95x95"

          = render 'shared/user_links'

          - if current_user.admin?
            = render 'shared/admin_links'

        %ul.nav.navbar-nav.navbar-right
          %li.nav-element
            = link_to logout_path do
              %i.fa.fa-sign-out.fa-3x
              %p Sign Out
          %li.nav-element
            %div
              = image_tag current_user.gravatar_image_url, :size => "73x73", :class => "img-rounded"
