<p id="notice"><%= notice %></p>

<p>
  <strong>Duel:</strong>
  <%= @vote.duel %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @vote.artist %>
</p>

<p>
  <strong>Username:</strong>
  <%= @vote.username %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
