!!!
%html
  %head
    %title Music Duel
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{ :class => "#{controller_name} #{action_name}" }
    = yield :role_sidebar
    = yield :role_main
    #wrap
      = render "shared/navbar"
      .main-section
        = yield
    #footer
      = render 'shared/footer'
