!!!
%html
  %head
    %title Music Duel
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{ :class => "#{controller_name} #{action_name}" }
    = yield :role_sidebar
    = yield :role_main
    #wrap
      = render "shared/navbar"
      .main-section
        = render "shared/flash_messages", flash: flash
        = yield
    #footer
      = render 'shared/footer'
